# NestJS Project - Agramkow
# compiled output
agramkow-api/dist
agramkow-api/node_modules
agramkow-api/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
agramkow-api/coverage
agramkow-api/.nyc_output

# IDEs and editors
agramkow-api/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
agramkow-api/.vscode/*
!agramkow-api/.vscode/settings.json
!agramkow-api/.vscode/tasks.json
!agramkow-api/.vscode/launch.json
!agramkow-api/.vscode/extensions.json

# dotenv environment variable files
agramkow-api/.env
agramkow-api/.env.development.local
agramkow-api/.env.test.local
agramkow-api/.env.production.local
agramkow-api/.env.local

# temp directory
agramkow-api/.temp
agramkow-api/.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
agramkow-api/package-lock.json
.idea/workspace.xml
.idea/vcs.xml
.idea/prettier.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/workspace.xml
.idea/workspace.xml
/.idea
